<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Artisan Payel</title>

   
<!-- ########################################## SEO ####################################################### -->

 
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="content/images/fab-icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="content/images/fab-icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="content/images/fab-icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="content/images/fab-icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="content/images/fab-icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="content/images/fab-icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="content/images/fab-icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="content/images/fab-icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="content/images/fab-icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="content/images/fab-icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="content/images/fab-icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="content/images/fab-icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="content/images/fab-icons/favicon-16x16.png">
 
 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,600,600i,700,700i|Abel:200,200i,300,300i,400,400i,600,600i,700,700i|Lobster|Courgette:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
  <link href="content/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="content/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="content/vendor/lity/lity.min.css" rel="stylesheet">
  <link href="content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

 



  <script src="content/vendor/jquery.min.js"></script>
  <script src="content/vendor/jquery-ui.min.js"></script>
 

 <!-- <script src="https://basilio.github.io/responsiveCarousel/js/modernizr-2.5.3.custom.min.js"></script>
 <script src="content/vendor/responsiveCarousel.js"></script> -->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />
    

  <script src="content/vendor/bootstrap.min.js"></script>
  <script src="content/vendor/lity/lity.min.js"></script>
  <script src="content/vendor/turn.min.js"></script>



  <script src="content/vendor/angular.min.js"></script>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="content/vendor/lity/lity.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  -->


  <!-- Template Main CSS File -->
  <link href="content/css/style.css?v=5.985656" rel="stylesheet">

  <base href="/artisan/"> <!--artisan/-->

</head>

<body  ng-app="iiserApp" ng-controller="baseCtrl">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/"> <img src="content/images/logo.png">    </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="content/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
         

        <ul>
          <li class="active"><a href="#home"><img class="brush_icon" src="content/images/brush.png"/>Home</a></li>
          <li><a href="#services"><img class="brush_icon" src="content/images/brush.png"/>My Services</a></li>
          <li><a href="#about"><img class="brush_icon" src="content/images/brush.png"/>About Me</a></li>
          <li><a href="#gallery"><img class="brush_icon" src="content/images/brush.png"/>Gallery</a></li>

      
          <li><a href="#contact"><img class="brush_icon" src="content/images/brush.png"/>Contact</a></li>

         
          
          <!-- <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Deep Drop Down</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
               
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
             
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li> -->

        </ul>
      </nav><!-- .nav-menu -->

      

    </div>
  </header><!-- End Header -->

  <!-- <section id="" class="d-flex align-items-center justify-content-center">
    <div class="container heading_container" >
      <div class="row justify-content-center heading_block" >
        <span>&nbsp;</span>
       
      </div>
    </div>
    </section> -->


    

  <!-- ======= Hero Section ======= -->
  <section id="home" class="d-flex align-items-center justify-content-center">
    <div class="container1 heading_container" >

     
    <img src="content/images/banner/home_page_banner.png" style="max-width: 100%;height:auto;" >

      
              
    </div>
  </section><!-- End Hero -->

  
  <main id="main">

    <!-- ======= Welcome Section ======= -->
    <section id="" class="welcome">
      <div class="container" data-aos="fade-up">
  
          <div class="row align-items-center justify-content-center">
            <img src="content/images/hand_welcome1.png" style="max-height:200px;width:auto" >
            <p class="welcometxt">Welcome to Artisan Payel craft yard</p>
          </div>
         
          
      </div>
    </section><!-- End Welcome Section -->



        <!-- ======= Services Section ======= -->
  <section id="services" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="row">
          <h2 class="w3-lobster"><img class="pallate_brush_icon" src="content/images/pallate_icon.png"/> &nbsp;My Services</h2>
          <hr/>
        </div>
        <div class="row">
          <p> A painting is everyone's favourite best thing to gift and surprise your family, loved ones, friends with beautiful handmade portrait . Surprise them with unique gifts available in different style. Make your memories colourful. Caricature is the best gift for birthday wedding and anniversary. </p><br/>
          <p>We have a wide range of original handmade paintings in different mediums such as oil painting water colour, acrylic paintings and in charcoal figurative paintings in different styles like 
            <span class="highlight">abstract</span>, 
            <span class="highlight">Indian folk</span>, 
              <span class="highlight">madhubani</span>, 
                <span class="highlight">mix media</span>, 
                  <span class="highlight">contemporary painting</span>, 
                    <span class="highlight">decorative hand craft items</span> 
            and you can also get your photos to beautiful 
            <span class="highlight">personalized portraits in water colour, charcoal, colour pencil, pencil sketch</span> . 
            You can choose your portrait in different style, size, price order.</p>
           <br/><p>We turn your photos into masterpiece of an art by making a hand-drawn painting. Send us your beautiful photos and we remove objects that steal your attention from the picture of yours, change the background make colour adjustment smoothen your tone and highlight yourself in the most creative and elegant manner, this feature helps to create portraits out of clumsy photograph and transform your favourite photo to a masterpiece.</p>
        </div>
        <div class="row margin-top-25"><h3>Our Products</h3></div>
        <div class="row">
        
          <div>
            <p>
              <ul>
                <li>Portrait</li>
                <li>Oil painting</li>
                <li>Acrylic painting</li>
                <li>Water colour</li>
                <li>Pencil sketch</li>
                <li>Charcoal</li>
                <li>Graphite art</li>
  
                <li>Wall painting</li>
                <li>Glass painting</li>
                <li>Mehendi</li>
                <li>Cloth Designing</li>
              </ul>
            </p>
          </div>
          
        </div>

        <div class="row">
          <p>Feel free to ask questions and order. Please <a class="anchor" href="content/pdf/Portrait_Chart.pdf" target="_blank">click here</a> to see the portrait price.</p>
        </div>
        

    </div>
  </section><!-- End Services Section -->




    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

          <div class="row">
            <h2 class="w3-lobster"><img class="pallate_brush_icon" src="content/images/pallate_icon.png"/> &nbsp;About me </h2><!-- {{screenwidth}}-->
            <hr/>
          </div>
         
          <div class="row">

            <div class="col-md-8" >
              <p>
                Hi, I am Payel Nandi, an artist of oil painting, acrylic painting, water colour, pencil sketch, charcoal, graphite art, portraits etc. 
                I have created my career as a drawing artist. Thanks for visiting our site of contemporary art and handcraft products. Hope you will enjoy viewing our collections.            
              </p>
                
               <a id="btnModalOpen" class="btn btn-primary btn-modal" data-toggle="modal" data-target="#fsModal">
                Check Our Categories
               </a>
            </div>

           <div class="col-md-4">
             <img src="content/images/artist.jpg" class="img-thumbnail" style="max-height:350px;width:auto;" />
           </div>
            
          </div>
          
      </div>
    </section><!-- End About Section -->



     <!-- ======= Gallery Section ======= -->
     <section id="gallery" class="margin-top-25">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <h2 class="w3-lobster"><img class="pallate_brush_icon" src="content/images/pallate_icon.png"/> &nbsp;Gallery</h2><!-- {{screenwidth}}-->
          <hr/>
        </div> 
         <!--------------------------->
        <div class="margin-top-25">
          <h2 class="w3-lobster"> &nbsp;Pencil and Charcoal Portrait</h2> 
        </div> 

        <div class="gallery" id="pencilandcharcoalportrait_gallery">         
            <div class="p-4 carowsel-items"  style="min-height: 380px;min-width: 350px;" ng-repeat="img in pencilandcharcoalportrait_Imgs">
              <a href="content/images/paintings/{{img.Img_name}}" class="mx-auto-custom" data-lity>
                <img src="content/images/paintings/{{img.Img_name}}" style="max-height: 380px; width: auto; " >
              </a>
            </div>
        </div>  

        <!--------------------------->
        <div class="margin-top-25">
          <h2 class="w3-lobster"> &nbsp;Acrylic Portrait</h2> 
        </div> 

        <div class="gallery" id="acrylicoilportrait_gallery">         
            <div class="p-4 carowsel-items"  style="min-height: 380px;min-width: 350px;" ng-repeat="img in acrylicoilportrait_Imgs">
              <a href="content/images/paintings/{{img.Img_name}}" class="mx-auto-custom" data-lity>
                <img src="content/images/paintings/{{img.Img_name}}" style="max-height: 380px; width: auto; " >
              </a>
            </div>
        </div>  

        <!--------------------------->
        <div class="margin-top-25">
          <h2 class="w3-lobster"> &nbsp;Pencil Sketch Charcoal</h2> 
        </div> 

        <div class="gallery" id="pencilsketchcharcoal_gallery">         
            <div class="p-4 carowsel-items"  style="min-height: 380px;min-width: 350px;" ng-repeat="img in pencilsketchcharcoal_Imgs">
              <a href="content/images/paintings/{{img.Img_name}}" class="mx-auto-custom" data-lity>
                <img src="content/images/paintings/{{img.Img_name}}" style="max-height: 380px; width: auto; " >
              </a>
            </div>
        </div>  


        <!--------------------------->
        <div class="margin-top-25">
          <h2 class="w3-lobster"> &nbsp;Colour Pencil and Painting</h2> 
        </div> 

        <div class="gallery" id="colourpencilpainting_gallery">         
            <div class="p-4 carowsel-items"  style="min-height: 380px;min-width: 350px;" ng-repeat="img in colourpencilpainting_Imgs">
              <a href="content/images/paintings/{{img.Img_name}}" class="mx-auto-custom" data-lity>
                <img src="content/images/paintings/{{img.Img_name}}" style="max-height: 380px; width: auto; " >
              </a>
            </div>
        </div>  


           <!--------------------------->
           <div class="margin-top-25">
            <h2 class="w3-lobster"> &nbsp;Color Painting</h2> 
          </div> 
  
          <div class="gallery" id="colorpainting_gallery">         
              <div class="p-4 carowsel-items"  style="min-height: 380px;min-width: 350px;" ng-repeat="img in colorpainting_Imgs">
                <a href="content/images/paintings/{{img.Img_name}}" class="mx-auto-custom" data-lity>
                  <img src="content/images/paintings/{{img.Img_name}}" style="max-height: 380px; width: auto; " >
                </a>
              </div>
          </div>  

          
        <!--------------------------->
        <div class="margin-top-25">
          <h2 class="w3-lobster"> &nbsp;Digital Painting</h2> 
        </div> 

        <div class="gallery" id="digitalpainting_gallery">         
            <div class="p-4 carowsel-items"  style="min-height: 380px;min-width: 350px;" ng-repeat="img in digitalpainting_Imgs">
              <a href="content/images/paintings/{{img.Img_name}}" class="mx-auto-custom" data-lity>
                <img src="content/images/paintings/{{img.Img_name}}" style="max-height: 380px; width: auto; " >
              </a>
            </div>
        </div>  


          <!--------------------------->
          <div class="margin-top-25">
            <h2 class="w3-lobster"> &nbsp;Fabric Painting</h2> 
          </div> 
  
          <div class="gallery" id="fabricpainting_gallery">         
              <div class="p-4 carowsel-items"  style="min-height: 380px;min-width: 350px;" ng-repeat="img in fabricpainting_Imgs">
                <a href="content/images/paintings/{{img.Img_name}}" class="mx-auto-custom" data-lity>
                  <img src="content/images/paintings/{{img.Img_name}}" style="max-height: 380px; width: auto; " >
                </a>
              </div>
          </div>  




           <!--------------------------->
           <div class="margin-top-25">
            <h2 class="w3-lobster"> &nbsp;Illustration</h2> 
          </div> 
  
          <div class="gallery" id="illustration_gallery">         
              <div class="p-4 carowsel-items"  style="min-height: 380px;min-width: 350px;" ng-repeat="img in illustration_Imgs">
                <a href="content/images/paintings/{{img.Img_name}}" class="mx-auto-custom" data-lity>
                  <img src="content/images/paintings/{{img.Img_name}}" style="max-height: 380px; width: auto; " >
                </a>
              </div>
          </div>  



          <!--------------------------->
          <div class="margin-top-25">
            <h2 class="w3-lobster"> &nbsp;Wall Painting</h2> 
          </div> 

          <div class="gallery" id="wallpainting_gallery">         
              <div class="p-4 carowsel-items"  style="min-height: 380px;min-width: 350px;" ng-repeat="img in wallpainting_Imgs">
                <a href="content/images/paintings/{{img.Img_name}}" class="mx-auto-custom" data-lity>
                  <img src="content/images/paintings/{{img.Img_name}}" style="max-height: 380px; width: auto; " >
                </a>
              </div>
          </div>  




        

       
      </div>
    </section><!-- End About Section -->


  

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="row">
          <h2 class="w3-lobster"><img class="pallate_brush_icon" src="content/images/pallate_icon.png"/> &nbsp;Contact</h2>
          
        </div>
    </div>
  </section><!-- End Contact Us Section -->



 

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-6">
            <div class="footer-info">
              <!-- <h2 class="w3-lobster">Artisan Payel</h2> -->
               
             
              <p>
                <img src="content/images/round_logo.png" style="max-width: 150px;height: auto;" />

                Test Address, West Bengal, India, Pin - 741234 <br/><br/>
                <strong>Phone :</strong> +91 33 0000 0000<br/><br/>
                <strong>Email :</strong> <a href="mailto:test@test.com"> test@test.com</a><br>
              </p>
              
            
              <div class="social-links mt-3">
                <a href="https://twitter.com/test" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com/test/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.cessi.in/">Test</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.cessi.in/archive.html">CESSI Archive</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://www.cessi.in/CESSI-Seminar%20and%20Colloquium%20Management%20System.html">Seminar and Colloquium</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="http://10.0.23.2/">CESSI-Intranet</a></li>
               
            </ul>
          </div> -->

    

          <!-- <div class="col-lg-6 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Register to our newsletter and be updated with the latest information regarding our activities and much more.</p>
            <form action="#" method="post">
              <input type="email" name="email" placeholder="Your Email">
              <input type="text" name="name" placeholder="Your Name">
              <input type="submit" value="Submit">
            </form>

          </div> -->

        </div>
      </div>
    </div>

   
       
    </div>
  </footer><!-- End Footer -->



  <div class="container1" style="background-color: #300025;">
    <div class="copyright">
      &copy; Copyright <strong><span>Artisan Payel</span></strong>. All Rights Reserved <br/> &nbsp;
      </div>
  </div>


  <!-- <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a> -->
  <!-- <div id="preloader"></div> -->


  <!-- modal -->
  <div id="fsModal" class="modal animated bounceIn modal-fullscreen-xl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  
      <!-- dialog -->
      
          <!-- content -->
          <div class="modal-content">
  
         
            <div class="modal-header">
              <h1 id="myModalLabel" class="modal-title"> &nbsp; </h1>
              <button class="btn btn-secondary" style="position: absolute;left: 42px;" data-dismiss="modal"> close </button>
          </div>
          <!-- header -->
          <!-- body -->
          <div class="modal-body" style="min-height: 90vh;">
           


            

              <div class="flipbook-viewport">
                <div class="container_flipbook" >
                  <div class="flipbook" id="flipbook">
                    <div style="background-image:url(pages/1.jpg)"></div>
                    <div style="background-image:url(pages/2.jpg)"></div>
                    <div style="background-image:url(pages/3.jpg)"></div>
                    <div style="background-image:url(pages/4.jpg)"></div>
                    <div style="background-image:url(pages/5.jpg)"></div>
                    <div style="background-image:url(pages/6.jpg)"></div>
                    <div style="background-image:url(pages/7.jpg)"></div>
                    <div style="background-image:url(pages/8.jpg)"></div>
                    <div style="background-image:url(pages/9.jpg)"></div>
                    <div style="background-image:url(pages/10.jpg)"></div>
                    <div style="background-image:url(pages/11.jpg)"></div>
                    <div style="background-image:url(pages/12.jpg)"></div>
                    <div style="background-image:url(pages/13.jpg)"></div>
                    <div style="background-image:url(pages/14.jpg)"></div>
                    <div style="background-image:url(pages/15.jpg)"></div>
                    <div style="background-image:url(pages/16.jpg)"></div>
                    <div style="background-image:url(pages/17.jpg)"></div>
                    <div style="background-image:url(pages/18.jpg)"></div>
                    <div style="background-image:url(pages/18A.jpg)"></div>
                    <div style="background-image:url(pages/19.jpg)"></div>
                    <div style="background-image:url(pages/20.jpg)"></div>
                    <div style="background-image:url(pages/21.jpg)"></div>
                    <div style="background-image:url(pages/22.jpg)"></div>
                    <div style="background-image:url(pages/23.jpg)"></div>
                    <div style="background-image:url(pages/24.jpg)"></div>
                    <div style="background-image:url(pages/25.jpg)"></div>
                  </div>
                </div>
              </div>


          </div>
          <!-- body -->
  
 
  
          </div>
      <!-- content -->
   
  
  </div>
  <!-- modal -->






 
  <script>
    var app = angular.module("iiserApp",[]);
  </script>
  <!-- Template Main JS File -->
  <script src="content/js/main.js?v=2.98565454"></script>

</body>

</html>